* {
    margin: 0px;
    padding: 0px;
}

body {
    background: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

#contenedor {
    width: 70%;
    margin: 0px auto;
    border: 5px solid;
    border-color: blue;
}

header:hover {
    background: violet;
}

header {
    background: red;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid black;
    margin: 0px;
    text-align: center;
    line-height: 100px;
    color: white;
}

nav {
    background: cyan;
    height: 50px;
    border-bottom: 1px solid black;
}

nav ul li {
    float: left;
    margin: 10px;
    list-style: none;

}

.clear {
    clear: both;
}

#contenido {
    float: left;
    width: 70%;
    min-height: 400px;
    background: greenyellow;
}

aside {
    float: left;
    width: 10%;
    text-align: left;
    background: orange;
    min-height: 400px;
    padding: 0px 10% 0px 10%;
}

#name:focus {
    background: black;
    color: aquamarine
}

footer {
    background: black;
    color: white;
    text-align: center;
    height: 50px;
    line-height: 50px;
}

.article {
    color: green;
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid yellow;
    border-width: 4px;

}

.article:first-child {
    border-top: 1px solid yellow;
    border-width: 4px;
    padding: 10px;
}

.article h2 {
    font-size: 30px;
}
